@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: black
}

.flex_row {
    display: flex;
    flex-direction: row;
}


/* HEADER */
header {
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.sep-line {
    width: 100%;
    margin-bottom: 32px;
    border-bottom: 1px solid #e0e0e0;
}

header a {
    text-decoration: none;
    color: black;
    align-items: end;
    gap: 10px
}


#logoimg {
    width: 100px;
    height: auto;
    margin: 0;
}

#logotxt {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

/* menu burger */

label #close {
    display: none;
}

header label,
header input {
    display: none;
}

nav {
    margin: 10px;
    padding: 0px 20px;
    width: 100vw;
    justify-content: center;
    gap: 130px;
    flex-wrap: wrap;
}

nav a {
    font-size: 1.5em;
    font-weight: 500;
    padding: 5px;
    border: 1px solid transparent;
}

nav a:hover {
    position: relative;
    color: #ad581b;
    padding: 5px;
    border: 1px solid #ad581b;
    border-radius: 10px;
}

.hover-translate:hover {
    /* merci Loîc P */
    transition-duration: 0.2s;
    transform: translateY(-10px);
}

body {
    min-height: 100vh;
}

main {
    height: inherit;
    min-height: calc(100vh - 253px);
}

/* INDEX */
main #credits {
    color: #777777;
    font-size: 1.2em;
}

#credits>a {
    text-decoration: none;
    color: #ad581b;
    font-weight: 500;
}


/* SECTION */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* div in A-Z and search */
main>div {
    margin-bottom: 20px;
}

section {
    width: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

img {
    width: 350px;
    border-radius: 20px;
    margin: 15px 0;
}

article p {
    margin-top: 15px;
}

#index-main-container {
    gap: 30px;

}


#index-main-container section {
    padding: 20px;
    background-color: #eeeeee;
    width: 45vw;

    height: fit-content;
}

#index-main-container a {
    height: 100%;
    width: 100%;
}

#index-main-container img {

    height: 500px;
    width: 100%;
    object-fit: cover;
}

#index-section-container h2 {
    height: auto;
    background-color: #830b0b;
    color: white;
    padding: 15px;
    border-radius: 25px;
    font-size: large;
    font-weight: 400;
    width: fit-content;
    margin: auto;
}

#index-section-container {
    width: 100%;
    padding: 0px 30px;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

/* RANDOM */
#random-meal {
    box-shadow: 2px 2px 10px 0px #dad9d9;
}

/* MEAL - title */

#this-meal {
    width: 100vw;
    padding: 30px;
    gap: 20px;
    border-radius: 0
}

/* MEAL country + category */
#ctgNcountry {
    width: 100%;
    justify-content: space-around;
}

#ctgNcountry a {
    text-decoration: none;
    color: black;
}

#ctgNcountry a:hover {
    text-decoration: underline;

}

#all-meal-info {
    width: 100%;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
}

/* MEAL -  */
#all-meal-info img {
    height: 450px;
    width: 40%;
    object-fit: cover;
    border-radius: 20px;

}


/* MEAL -  */
#info-container {
    height: 450px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 0px #dad9d9;
}

.ingredients-title, .recipe-title {
    font-size: larger;
    font-weight: 500;
    text-decoration: underline;
    margin: 0;
}

/* MEAL -  */
#ingredients {
    max-height: 100%;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    padding: 10px 0 20px 20px;
    column-gap: 40px;
}

#meal-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
}

/* MEAL -  */
#categorie {
    border-radius: 0;
    width: 100vw;
}

/* CATEGORIES -  */
.categories-container {
    margin-top: 30px;
    width: 100vw;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* CATEGORIES -  */
.categories-article {
    background-color: #ffffff;
    width: 240px;
    margin-bottom: auto;
    border-radius: 20px;
    transition-duration: 0.2s;
}

/* CATEGORIES -  */
.categories-article img {
    width: 200px;
    height: auto;
    margin: 20px;
}

/* CATEGORIE -  */
.categorie-container {
    padding: 30px;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* CATEGORIE -  */
.categorie-container h2 {
    display: ruby;
    margin: 0 20px 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
}

/* AREAS */
#container-areas {
    min-height: calc(100vh - 262px);
    height: inherit;

}

#container-areas article {
    padding: 20px;
}

/* FIRST LETTER */
.alphabet {
    width: inherit;
    justify-content: space-between;
    align-items: end;
}

/* FIRST LETTER */
.alphabet p {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition-duration: 0.2s;
}

/* FIRST LETTER */
.alphabet div {
    font-size: 1.5em;
    color: #783b06;
}

/* FIRST LETTER */
.alphabet p:hover {
    cursor: pointer;
    color: #783b06;
    transform: translateY(-3px);
}


/* SEARCH */

#search-bar {
    width: 20vw;
    height: auto;
    display: flex;
    justify-content: center;
}

#search-meal-input {
    width: 60%;
    border-bottom: 2px solid #6e6e6e;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: medium;
}

#btnSearch {
    border-radius: 5px 0px 0px 5px;
    border: 2px solid #6e6e6e;
    color: #494949;
    font-size: medium;
    font-weight: 600;
    padding: 5px 10px;
}

#btnSearch:hover {
    background-color: #783b06;
    color: #dad9d9;

}

.country-name {
    text-decoration: none;
    color: black;
}

/* FOOTER */

footer {
    margin-top: 30px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
}



/* RESPONSIVE */

@media (max-width: 910px) {

    nav {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
    }

    /* index */
    #index-main-container section {
        width: 80vw;
        margin: 0 auto;
    }

    /* FIRST LETTER */
    .alphabet {
        width: 80vw;
    }

    /* SEARCH */
    #search-bar {
        width: 50vw;
    }
}

@media (max-width: 768px) {

    /* header */
    nav a span {
        display: none;
    }

    /* HEADER */
    /* hide "rechercher" */
    header {
        padding: 10px 20px 0px 20px;
    }

    header a.flex_row {
        align-items: center;

    }

    /* CATEGORIES -  */
    .categories-article {
        width: 30%;

    }

    .categories-article img {
        width: 80%;
    }

    /* MEAL */
    #all-meal-info {
        flex-direction: column;
    }

    /* MEAL -  */
    #all-meal-info img {
        width: 100%;

    }

    #ingredients {
        width: 100%;
    }

    /* MEAL -  */
    #info-container {
        width: 100%;
        height: inherit;
    }
}

@media (max-width: 500px) {

    /* header */
    header {
        /* parent en relative pour servir de reference au position des enfants */
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        /* cache le menu qui est "caché" a droite */
    }

    header h1 {
        display: none
    }

    label #open,
    label #close {
        width: 30px;
    }


    header nav.flex_row {
        margin: 0;
        background-color: #eeeeee;
        
        /* position */
        position: absolute;
        top: 80px;
        right: 0;
        
        /* size */
        max-height: 0;
        
        overflow: hidden;
        transition: ease-out 0.5s;
    }
    
    
    #menu-burger:checked~nav {
        padding: 15px;
        
        /* position final */
        right: 0px;
        width: 100vw;
        max-height: 90px;
        transition: ease-out 0.5s;
    }

    #menu-burger:checked~label #close {
        display: block;
    }

    #menu-burger:checked~label #open {
        display: none;
    }

    header label {
        display: flex;
        color: black;
    }

    
    main #credits {
        width: 80vw;
    }

    /* CATEGORIES -  */
    .categories-article {
        width: 45%;

    }

    .categories-article img {
        width: 80%;
    }

    /* MEAL */
    #all-meal-info {
        flex-direction: column;
    }

    #all-meal-info img {
        width: 100%;

    }

    #ingredients {
        width: 100%;
        gap: 0;
        padding: 0;
    }

    #info-container {
        width: 100%;
        height: inherit;
    }

    /* A - Z */
    .alphabet {
        width: 80vw;
        flex-wrap: wrap;
        justify-content: center;

    }

}