
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/* HEADER */
header {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: black;
}

#logoimg {
    width: 200px;
    height: auto;
    margin: 0;
    /* visibility: none; */
    /* animation: gif 10s linear infinite */
}

/* TODO remove */
/* change source of img 5x */
/* @keyframes gif {
    0% {
        background-image: url(/img/logo1.png);
    }

    20% {
        background-image: url(/img/logo2.png);
    }

    40% {
        background-image: url(/img/logo3.png);
    }

    60% {
        background-image: url(/img/logo3.png);
    }

    80% {
        background-image: url(/img/logo5.png);
    }

    100% {
        background-image: url(/img/logo1.png);
    }

} */


#logotxt {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    /* animation: gif 5s linear infinite;
    background-image: url(/img/logo1.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain; */

}

nav {
    margin: 30px;
    padding: 0px 20px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    font-size: 1.5em;
    font-weight: 500;
}

nav a:hover {
    color: chocolate;
}

/* SECTION */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 80px;
}

section {
    width: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 20px;
    
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

img {
    width: 350px;
    border-radius: 20px;
    margin: 15px 0;
}

article p {
    margin-top: 15px;
}

/* RANDOM */
#random-meal {
    box-shadow: 2px 2px 10px 0px #dad9d9;
}

/* MEAL */
#this-meal p {
    width: auto;
}

/* MEAL -  */
#this-meal {
    width: 100vw;
    padding: 30px;
}

/* MEAL -  */
#all-meal-info {
    width: 100%;
    flex-direction: row;
    align-items: start;
}

/* MEAL -  */
#all-meal-info img {
    width: 500px;
    border-radius: 20px;
    margin: 15px 0;
}


/* MEAL -  */
#info-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* MEAL -  */
#ingredients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
}

/* MEAL -  */
#recipe {
    margin: 20px 0 0 20px;
}

/* MEAL -  */
#categorie {
    border-radius: 0;
    width: 100vw;
}

/* CATEGORIES -  */
.categories-container {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}

/* CATEGORIES -  */
.categories-article {
    background-color: #ffffff;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 20px;

}

/* CATEGORIES -  */
.categories-article:hover {
    /* merci Loîc P */
    transform: translateY(-10px);

}

/* CATEGORIES -  */
.categories-article img {
    width: 200px;
    height: auto;
    margin: 20px;
}

/* CATEGORIE -  */
.categorie-container {
    padding: 30px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

/* CATEGORIE -  */

.categorie-container h2 {
    display: ruby;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* FIRST LETTER */
.alphabet {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

/* FIRST LETTER */
.alphabet p {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
/* FIRST LETTER */
.alphabet div {
    font-size: 1.5em;
    color: #783b06;
}

/* FIRST LETTER */
.alphabet p:hover {
    cursor: pointer;
    color: #783b06;
    transform: translateY(-3px);
}